<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders - A Sample Vue App</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <label for="goal">{{appTitle}}</label>
        <input type="text" id="order" v-model="order"/>
        <button v-on:click="addOrder" v-bind:disabled="disabledAddButton">Add Order</button>
      </div>
      <ul>
        <li v-for="o in orders">{{o}}</li>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
